<h2> All Mechanics </h2>
<% @mechanics.each do |mechanic| %>
  <div class = "mechanic-<%= mechanic.id %>">
  <%= "Name: #{mechanic.name}, Years of Experience: #{mechanic.years_experience}" %>
</div>
<% end %>
<%= "Average Years of Experience: #{@mechanics.average_years}" %>"
